CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.exe
*.a
*.json
*.gch
*.pyc

build
.vscode
test_controller_builds

# visual studio stuff
*.vcxproj*
*.dir
Win32
Debug
PANOC/Debug
PANOC/Release
tst/Release
tst/Debug
*.sln